{% extends 'base.html.twig' %}

{% block title %}Gestion de mes Animaux • Modifier mon compte{% endblock %}

{% block body %}
    <h2 class="home-title-top text-white">Modifier mon compte</h2>


    {{ include('account/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <a class="btn-form" href="{{ path('app_account') }}">Retour à mon compte</a>
    <a class="btn-form" href="{{ path('app_home') }}">Retour à l'accueil</a>
   
{% endblock %}
