{% extends 'base.html.twig' %}

{% block title %}Gestion de mes Animaux • Réinitialiser mon mot de passe{% endblock %}

{% block body %}
    <h2 class="home-title-top text-white">Réinitialiser mon mot de passe</h2>
        <form id="password-form" method="post" action=" {{ path('app_reset_password_action') }}" onsubmit="return checkSubmit(event)">
        <div class="form-group">
            <label class="login-label" for="new-password-1">Nouveau mot de passe</label>
            <div class="form-group-password">
                <input class="login-input" type="password" id="new-password-1" name="new-password-1" required />
                <a id="btn-see-password-new-1" class="btn-see-password">👁</a>
            </div>
        </div>
        <div class="form-group">
            <label class="login-label" for="new-password-2">Nouveau mot de passe</label>
            <div class="form-group-password">
                <input class="login-input" type="password" id="new-password-2" name="new-password-2" required />
                <a id="btn-see-password-new-2" class="btn-see-password">👁</a>
            </div>
        </div>
        <input type="hidden" name="_token"
        value="{{ token }}">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('reset-password') }}">
        <div class="form-group-button">
            <button class="btn-form" type="submit">Réinitialiser</button>
        </div>
    </form>
    <script>
    console.log('js');
    //document.addEventListener("DOMContentLoaded", (e) => {
        console.log('load ok');
        var passwordInputNew1 = document.getElementById('btn-see-password-new-1');
        var passwordInputNew2 = document.getElementById('btn-see-password-new-2');

        passwordInputNew1.addEventListener('click', (e) => {
            togglePassword('new-1');
        });
        passwordInputNew2.addEventListener('click', (e) => {
            togglePassword('new-2');
        });
    //});

    function checkSubmit(event) {
        //event.preventDefault();
        const inputNew1 = document.getElementById('new-password-1');
        const inputNew2 = document.getElementById('new-password-2');
        if (inputNew1.value !== inputNew2.value) {
            alert('Les nouveaux mots de passe ne correspondent pas.');
            return false;
        }
        // passwordForm.submit();
        console.log('submit ok!');
        return true;
    }

    function togglePassword(choice) {
        console.log('toggle password n°:', choice);
        const inputNew1 = document.getElementById('new-password-1');
        const inputNew2 = document.getElementById('new-password-2');

        switch (choice) {
            case 'new-1':
                inputNew1.type = inputNew1.type === 'password' ? 'text' : 'password';
                break;
            case 'new-2':
                inputNew2.type = inputNew2.type === 'password' ? 'text' : 'password';
                break;        
        }
    }
    </script>
{% endblock %}
