{% extends 'base.html.twig' %}

{% block title %}Gestion de mes Animaux • Mot de passe oublié{% endblock %}

{% block body %}
    <h2 class="home-title-top text-white">Mot de passe oublié</h2>

    <form id="password-form" method="post" action="{{ path('app_account_send_mail_action_reset_password') }}" onsubmit="return checkSubmit(event)">
        <div class="form-group">
            <label class="login-label" for="email">Email</label>
            <input class="login-input" type="email" id="email" name="email" required />
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('reset-password-send-mail') }}">
        <div class="form-group-button">
            <button class="btn-form" type="submit">Envoyer email</button>
        </div>
    </form>

    <script>
    function checkSubmit(event) {
        const email = document.getElementById('email').value;
        // déterminer si l'email est valide par regex
        const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return regex.test(email);
    }
    </script>
{% endblock %}
