{% extends 'base.html.twig' %}

{% block title %}Hello MailManagerController!{% endblock %}

{% block body %}

<div class="wrapper">
    <h2 class="home-title-top text-white">Gérer mes mails</h2>


    <a class="btn-form" href="{{ path('app_home') }}">Retour à l'accueil</a>
</div>
{% endblock %}
