{% extends 'base.html.twig' %}

{% block title %}Gestion de mes animaux / Créer un animal{% endblock %}

{% block body %}
    <h2 class="home-title-top">Créer un animal</h2>

    {{ include('animal/_form.html.twig') }}

    <a class="btn-form" href="{{ path('app_animal_list') }}">Retour à la liste</a>
{% endblock %}
