* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(6, 36, 116);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 140px;
    background-color:rgb(2, 22, 77);
}

.header h1 {
    color: white;
}

.header p {
    margin-top: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}

.header-title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 50px;
    background-color:rgb(2, 22, 77);
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    margin-top: 10px;
}

.main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-top,
.home-title-top {
    margin-top: 60px;
    margin-bottom: 30px;
}

.btn-form {
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(2, 22, 77);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: small;
    border: 1px solid rgb(2, 22, 77);
}

.btn-form:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
    background-color: rgb(20, 58, 160);
}

.text-white {
    color: white;
}

.text-green {
    color: green;
}

.text-blue {
    color: rgb(20, 58, 160);
}

.text-orange {
    color: rgb(255, 170, 11);
}

.text-red {
    color: red;
}

.bg-green {
    background-color: rgb(37, 156, 37);
}

.bg-blue {
    background-color:rgb(34, 69, 167);
}

.bg-red {
    background-color: rgb(255, 57, 57);
}

.bg-orange {
    background-color: rgb(211, 137, 0);
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

 
.calendar-class {
    color: white !important;
    border: 1px solid rgb(2, 22, 77);
 }

 .calendar-class:hover {
    background-color: rgb(1, 12, 43) !important;
    color: orange !important;
    border: 1px solid orange;
    cursor: pointer;
 }

.calendar-class .fc-event {
    background-color: yellow;
    color: orangered;
}

#calendar-holder {
    width: 80vw;
    min-width: 600px;
    max-width: 1200px;
    color: white;
    background-color: rgb(7, 34, 107);
}

.fc-button-primary {
    background-color: rgb(2, 22, 77) !important;
    color: white !important;
    border-color: rgb(1, 12, 43) !important;
}

.fc-button-primary:hover {
    background-color: rgb(1, 12, 43) !important;
    color: orange !important;
    border-color: orange !important;
}

.select {
    background-color: rgb(2, 22, 77);
    border-radius: 5px;
    padding: 10px;
    color: rgb(189, 202, 236);
    border: 1px solid rgb(189, 202, 236);
    .option {
        background-color: rgb(2, 22, 77) !important;
        padding: 10px !important;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
    }
 }

 .select:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
 }

/* Tableau de l'alerte */

#table-alert-event {
    color: white;
    font-size: small;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    border-radius: 5px; /* Coins arrondis du tableau */
}

.row-table-alert-event {
    background-color: rgb(14, 40, 110); /* Couleur de fond par défaut */
    text-align: left;
}

.row-table-alert-event:nth-child(even) {
    background-color: rgb(15, 46, 131); /* Couleur de fond pour les lignes paires */
}

.row-table-alert-event td {
    padding: 8px;
    border-bottom: 1px solid white; /* Bordure inférieure des cellules */
}

.row-table-alert-event:last-child td {
    border-bottom: none; /* Supprimer la bordure inférieure pour la dernière ligne */
}

/* Ajout de styles personnalisés pour l'alerte SweetAlert2 */

.swal2-icon {
    background-color: rgba(2, 22, 77, 0.75);
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.custom-swal-container {
    background-color: rgba(20, 58, 160, 0.5) !important;
    color: white !important;
    /* Ajoutez vos styles personnalisés pour le conteneur principal de l'alerte ici */
}

.custom-swal-popup {
    background-color: rgb(5, 36, 119);
    border-radius: 10px;
    border: 1px solid rgb(2, 22, 77);
}
/*
.custom-swal-header {
}*/

.custom-swal-title {
    /* Ajoutez vos styles personnalisés pour le titre de l'alerte ici */
    color: white;
}

/* marche pas */
.custom-swal-icon {
    color: red !important;
    background-color: orange !important;
}

/* marche pas */
.custom-swal-cancel-button {
    background-color: rgb(211, 137, 0) !important;
    border: 1px solid orangered !important;
    color: white !important;
    box-shadow: none !important;
}

/* marche pas */
.custom-swal-cancel-button:hover {
    background-color: orangered !important;
    color: white !important;
    border-color: white !important;
    box-shadow: none !important;
}

.custom-swal-confirm-button {
    background-color: rgb(20, 58, 160) !important;
    border: 1px solid rgb(2, 22, 77) !important;
    color: white !important;
    box-shadow: none !important;
}

.custom-swal-confirm-button:hover {
    background-color: rgb(2, 22, 77) !important;
    color: orange !important;
    border-color: orange !important;
    box-shadow: none !important;
}


/*
.custom-swal-content {
}*/


/*
.swal2-icon-content {
}*/



.icon-priority-alert-event {
    min-width: 16px;
    min-height: 16px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: -2px;
}