* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(72, 111, 218);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 140px;
    background-color: rgb(20, 58, 160);
}

.header h1 {
    color: white;
}

.header p {
    margin-top: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}

.header-title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 50px;
    background-color: rgb(20, 58, 160); 
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    margin-top: 10px;
}

.main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-top,
.home-title-top {
    margin-top: 60px;
    margin-bottom: 30px;
}

.event-list-option,
.animal-list-option,
.home-option {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgb(20, 58, 160);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid rgb(20, 58, 160);
}

.event-list-option:hover,
.animal-list-option:hover,
.home-option:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-input {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}

.login-label {
    margin-bottom: 5px;
}

.btn-form,
.login-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(20, 58, 160);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: small;
    border: 1px solid rgb(20, 58, 160);
}

.btn-form:hover,
.login-btn:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
}
.link-event-list,
.link-animal-list {
    text-decoration: none;
}

.action-event-list,
.action-animal-list {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(20, 58, 160);
    border-radius: 5px;
    color: white;
    border: 1px solid rgb(20, 58, 160);
}

.action-event-list:hover,
.action-animal-list:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
}

.table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-collapse: collapse;

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
     }
     
     tr:nth-child(even) {
        background-color: rgba(20, 58, 160, 0.15); /* Teinte claire */
     }
     
     tr:nth-child(odd) {
        background-color: rgba(20, 58, 160, 0.3); /* Teinte plus foncée */
     }    
 }

 .select {
    background-color: rgb(20, 58, 160);
    border-radius: 5px;
    padding: 10px;
    color: white;

    .option {
        background-color: rgb(20, 58, 160) !important;
        padding: 10px !important;
        color: white;
    }
 }

 .form-control {
    background-color: hsl(224, 59%, 68%);
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
 }

 .centered {
    text-align: center;
 }
 

 .text-white {
    color: white;
 }

 .text-orange {
    color: orange;
 }
 