* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*background-color: rgb(72, 111, 218);*/
    background-color: rgb(6, 36, 116);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 140px;
    background-color:rgb(2, 22, 77);
    /*background-color: rgb(20, 58, 160);*/
}

.header h1 {
    color: white;
}

.header p {
    margin-top: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: orange;
    text-decoration: underline;
    cursor: pointer;
}

.header-title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 50px;
    /*background-color: rgb(20, 58, 160); */
    background-color:rgb(2, 22, 77);
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    margin-top: 10px;
}

.main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}

.title-top,
.home-title-top {
    margin-top: 60px;
    margin-bottom: 30px;
}

.event-list-option,
.animal-list-option,
.home-option {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgb(2, 22, 77);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid rgb(2, 22, 77);
}

.event-list-option:hover,
.animal-list-option:hover,
.home-option:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.login-input {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}

.login-label {
    margin-bottom: 5px;
}

.btn-form,
.login-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(2, 22, 77);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: small;
    border: 1px solid rgb(2, 22, 77);
}

.btn-form:hover,
.login-btn:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
    background-color: rgb(20, 58, 160);
}
.link-event-list,
.link-animal-list {
    text-decoration: none;
}

.action-event-list,
.action-animal-list {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(2, 22, 77);
    border-radius: 5px;
    color: rgb(189, 202, 236);
    border: 1px solid rgb(189, 202, 236);

}

.action-event-list:hover,
.action-animal-list:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
    background-color: rgb(20, 58, 160);
}

.table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    color: rgb(189, 202, 236);
    th, td {
        padding: 10px;
        text-align: left;
        font-size: small;
        border-bottom: 1px solid rgb(207, 179, 126);
     }
     
     tr:nth-child(even) {
        background-color: rgba(2, 22, 77, 0.8);
     }
     
     tr:nth-child(odd) {
        background-color:rgb(2, 22, 77);
     }    
 }

 .actions-col-event-list {
    width: 100px;
 }

 .select {
    background-color: rgb(2, 22, 77);
    border-radius: 5px;
    padding: 10px;
    color: rgb(189, 202, 236);
    border: 1px solid rgb(189, 202, 236);
    .option {
        background-color: rgb(2, 22, 77) !important;
        padding: 10px !important;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
    }
 }

 .select:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
 }

 main form label {
    color: white;
 }

 .form-control {
    background-color: rgb(2, 22, 77);
    color:white;
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    width: 100%;
    max-width: 1200px;
 }

 .form-control label {
    color: white;
 }

 #emoticon-animal-show {
    font-size: 5em;
    text-align: center;
    margin-bottom: 10px;
 }

.centered {
    text-align: center;
 }

.infinity-char {
    font-size: 1.6em;
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 0;
 }

 .icon-priority-alert-event {
    min-width: 16px;
    min-height: 16px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: -2px;
}

/* page mail ********************************************************** */

.input-container-mail {
    max-width: 1200px;
    width: 40vw;
    margin: 0 auto;
    margin-bottom: 20px;
}

.input-div-mail {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    align-items: center;
    justify-self: start;
}

.label-mail {
    color: white;
}

.input-mail {
    background-color: rgb(2, 22, 77);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

#btn-div-mail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.text-p-mail {
    margin-top: 20px;
    color: white;
    font-size: large;
    max-height: fit-content;
}

.btn-div-mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Ajout de styles personnalisés pour l'alerte SweetAlert2 */

.custom-swal-container {
    background-color: rgba(20, 58, 160, 0.5) !important;
    color: white !important;
    /* Ajoutez vos styles personnalisés pour le conteneur principal de l'alerte ici */
}

.custom-swal-popup {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(5, 36, 119);
    border-radius: 10px;
    border: 1px solid rgb(2, 22, 77);
    color: white !important;

}
/*
.custom-swal-header {
}*/

.custom-swal-title {
    /* Ajoutez vos styles personnalisés pour le titre de l'alerte ici */
    color: white;
}

/* marche pas */
.custom-swal-icon {
    color: red !important;
    background-color: orange !important;
}

/* marche pas */
.custom-swal-cancel-button {
    background-color: rgb(211, 137, 0) !important;
    border: 1px solid orangered !important;
    color: white !important;
    box-shadow: none !important;
}

/* marche pas */
.custom-swal-cancel-button:hover {
    background-color: orangered !important;
    color: white !important;
    border-color: white !important;
    box-shadow: none !important;
}

.custom-swal-confirm-button {
    background-color: rgb(20, 58, 160) !important;
    border: 1px solid rgb(2, 22, 77) !important;
    color: white !important;
    box-shadow: none !important;
}

.custom-swal-confirm-button:hover {
    background-color: rgb(2, 22, 77) !important;
    color: orange !important;
    border-color: orange !important;
    box-shadow: none !important;
}
/*
.custom-swal-content {
}*/

.swal2-icon {
    background-color: rgba(2, 22, 77, 0.75);
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.alert-h3-mail {
    margin-bottom: 20px;
}

/* gestion des couleurs du site ****************************************** */

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: rgb(30, 74, 194);
}

.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}

.text-white {
    color: white;
}

.text-green {
    color: green;
}

.text-blue {
    color: rgb(20, 58, 160);
}

.text-orange {
    color: orange;
}

.text-red {
    color: red;
}


 