{% extends 'base.html.twig' %}

{% block title %}Gestion de mes Animaux • Connexion{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h2 class="home-title-top text-white">Inscrivez-vous</h2>

    {{ include('signin/_form_signin.html.twig') }}
{% endblock %}