{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur</h1>

    <p>
        Une erreur s'est produite, <a href="{{ path('app_home') }}">Retour à l'Accueil</a>.
    </p>
{% endblock %}