{# mail/mail.twig.html #}

<h3 class="text-orange alert-h3-mail">Nombre d'événement(s) : {{ events|length }}</h3>

<table class="table">
    {% for event in events %}
        {# ... (your existing HTML structure) #}
        <tr>
            <th><span class="text-orange"><strong>Nom</strong></span></th>
            <td>{{ event.name }}</td>
        </tr>
        <tr>
            <th><span class="text-orange"><strong>Commentaire</strong></span></th>
            <td>{{ event.comment }}</td>
        </tr>
        <tr>
            <th><span class="text-orange"><strong>Début</strong></span></th>
                <td>{{ event.start|frenchDate }}</td>
        </tr>
        {# ... (rest of your HTML structure) #}
    {% endfor %}
</table>